body {
  margin: 0;
  font-family: 'Poppins';
  padding: .5rem 5rem;
  overflow-x: hidden;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

svg {
  cursor: pointer;
}